$main-background-color: #e8e8e8;
$header-background-color: #70a36c;
$header-hover-background-color: #84a38d;
$header-box-shadow: #000;
$brightness: brightness(85%);
$active: #84a38d;
$main-font-color: #000;
$font-family: 'Libre Franklin', sans-serif;
$box-color: #d2d2d2;
$code-text-color: #000;
$link-text-color: #00f;
$link-text-visited-color: #800080;
$footer-background-color: #70a36c;
