$main-background-color: #171717;
$header-background-color: #171717;
$header-hover-background-color: #222;
$header-box-shadow: #000;
$brightness: brightness(60%);
$active: #222;
$main-font-color: #e8e8e8;
$font-family: 'Poppins', sans-serif;
$box-color: #d2d2d2;
$code-text-color: #000;
$link-text-color: #6d94f8;
$link-text-visited-color: #eb5af5;
$footer-background-color: #000;
