body {
  line-height: 1.4;
}

h1,
h2,
h3,
h4,
th {
  font-family: 'Roboto', serif;
}

p,
li,
td {
  font-family: 'Libre Franklin', sans-serif;
}

a {
  font-family: 'Libre Franklin', sans-serif;
  font-weight: bold;
}
