* {
    box-sizing: border-box;
    border: 0 none;
    margin: 0;
    padding: 0;
}

/* Navbar */
.navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #111111;
    top: 0;
}

.navbar ul {
    display: flex;
    list-style: none;
    margin: 20px 0;
}

.navbar ul li {
    font-family: 'Roboto', sans-serif;
    font-size: 1.1rem;
    font-weight: bold;
}

.navbar ul li a {
    text-decoration: none;
    color: white;
    padding: 8px 25px;
    transition: all .5s ease;
}

.navbar ul li a:hover {
    background-color: #222222;
    color: white;
    box-shadow: 0 0 10px black;
}

.navbar ul li.active a {
    background-color: #484848;
}

ol, ul {
    padding-left: 1.5em;
}

.hidden {
    display: none !important;
}

html, body {
    height: 100%;
}

/* Placement */

body {
    display: flex;
    flex-direction: column;
}

.main {
    flex: 1 0 auto;
}

.header, .footer {
    flex: 0 0 auto;
}

/* Header */

.header, .site-header {
    display: flex;
    justify-content: space-between;
}

/* Title */

.title, .logo {
    padding: 3em 3em 3em 0;
}

@media (max-width: 767px) {
    .title, .logo {
        padding: 1em 1em 1em 0;
    }
    .title {
        min-width: 50%;
    }
    .logo {
        max-width: 30%;
    }
}

.title * {
    color: #111;
}

.title p {
    font-style: italic;
}

/* Footer */

.footer {
    background-color: black;
    width: 100%;
    height: 250px;
    font-family: 'Roboto', sans-serif;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
    box-shadow: 0 50vh 0 50vh black;
}

.footer-content {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

.footer-content h3 {
    font-size: 1.8rem;
    font-weight: 400;
    text-transform: capitalize;
    line-height: 3rem;
    margin-top: 50px;
}

.footer-content p {
    max-width: 500px;
    margin: 10px auto;
    line-height: 28px;
    font-size: 14px;
}

.contact {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.contact li {
    margin: 5px 0;
}

.contact a {
    text-decoration: none;
    font-size: 1.1rem;
    color: white;
}

.contact a:hover {
    color: #c0c0c0;
    transition: color 0.4s ease;
}

.social {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1rem 0 3rem 0;
    padding: 0;
}

.social li {
    margin: 0 10px;
}

.social a {
    text-decoration: none;
    color: white;
}

.social a i {
    font-size: 2rem;
    transition: color 0.4s ease;
}

.social a:hover i {
    color: #c0c0c0;
}

/* Typografy */

body {
    font-family: sans-serif;
    line-height: 1.5rem;
}

.main {
    margin: 0 auto;
    max-width: 800px;
    min-height: 20em;
    margin-bottom: 2em;
}

p, td, th, li, dd {
    text-align: justify;
    overflow-wrap: break-word;
    word-wrap: break-word;
}

h1, h2, h3, h4, h5, h6 {
    margin-bottom: 0.6em;
    font-weight: bold;
}

img {
    max-width: 100%;
}

/* BELOW ARE PREPARED STYLES FOR CODE/PRE/BLOCKQUOTE, FEEL FREE TO REMOVE IT  */

/* Code */

code {
    margin: 0 0.1em;
    padding: 0.1em 0.2em;
    border: 1px solid #ccc;
    border-radius: 0.3em;
    background: #f5f5f5;
    font-family: monospace;
    font-size: 0.85rem;
    line-height: 1.9824;
}

pre {
    padding: 0 1em;
    border: 1px solid #ccc;
    border-radius: 0.3em;
    background: #f5f5f5;
}

pre code {
    display: block;
    margin: 0;
    padding: 1.1111em 0;
    border: 0 none;
    background: transparent;
    overflow-x: auto;
    line-height: 1.4;
}

/* Blockquote */

blockquote {
    font-style: italic;
    margin-left: 1em;
    padding-left: 1em;
    border-left: 0.5em solid #f5f5f5;
}
